.body {
  background: black;
  text-align: auto;
}


.wrapper {
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas: 'header' 'main' 'footer';
  height: max-content;
  background-color: black;
  margin: 0%;
  padding: 0%;
}

.body {
  grid-area: main;
  grid-column: 2/3;
  grid-row: 1/3;
  margin: 0%;
  padding: 0%;
  background-color: black;
  color: white;
  height: 100%;
  width: 100vw;
  height: max-content;
}

.logo {
  max-width: 85%;
  height: auto;
}

h3, label, .form-control, a {
  background: linear-gradient(to right, #ffffff, #cccccc);
  -webkit-background-clip: text;
  color: transparent;
}

.form-floating input {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.btn-primary {
  background-color: orange;
  color: white;
  border: 1px solid white;
}

.img-preview {
  max-width: 100%;
  height: auto;
}
